<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Statistic</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
    <!-- base JS File -->
    <script src="/js/const.js"></script>
    <script src="/js/mainAPI.js"></script>

    <style>
        .modal-lg {
            max-width: 1000px;
        }
    </style>
</head>
<body>
<div th:replace="fragment/nav-bar :: nav-bar"></div>
<br>
<br>
<div class="row">
    <div class="col-3 input-group">
        <label for="statistic-type-select" class="h3 mr-3">Loại Thống Kê</label>
        <select class="form-control" id="statistic-type-select">
            <option value="1">Thống Kê Tổng Hợp</option>
            <option value="2">Thống Kê Chi Tiết</option>
        </select>
    </div>
</div>
<br>
<br>
<div class="row" id="filter-zone">
    <div class="col">
        <div class="row">
            <div class="h5 ml-3">Chọn khoảng ngày cần thống kê</div>
            <div class="col-2 input-group">
                <label for="from-date" class="input-group-text">From</label>
                <input type="date" class="form-control" id="from-date" name="from">
            </div>
            <div class="col-2 input-group">
                <label for="to-date" class="input-group-text">To</label>
                <input type="date" class="form-control" id="to-date" name="to">
            </div>
        </div>
        <br>
        <div class="row m-3" id="other-filter"></div>
        <button type="button" class="btn btn-primary btn-xs m-3" id="filter-btn">Lọc</button>
    </div>
</div>
<div class="row mt-2" id="data-zone">
    <div class="col">
        <div class="h6">Overview</div>
        <div class="row p-3" id="overview"></div>
        <div class="h6">Table</div>
        <div class="row p-3" id="table"></div>
        <div class="row p-3" id="detail"></div>
    </div>
</div>
<!-- javascript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="/js/statistic/admin-statistic.js"></script>
</body>
</html>