<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <form class="form-signin" method="post" action="/api/v1/auth/authenticate">
        <h2 class="form-signin-heading">Please sign in</h2>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="email" class="form-control" placeholder="Username" required=""
                   autofocus="">
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                   required="">
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
    <h2 class="form-signin-heading">Login with OAuth 2.0</h2>
    <table class="table table-striped">
        <tbody>
        <tr>
            <td><a href="/oauth2/authorization/github">GitHub</a></td>
        </tr>
        <tr>
            <td><a href="/oauth2/authorization/google">Google</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>