<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!-- base JS File -->
    <script src="/js/const.js"></script>
    <script src="/js/mainAPI.js"></script>
    <!-- Login JS File -->
    <script src="/js/login.js" type="text/javascript"></script>
</head>
<body>
<div class="container">
    <div class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <p>
            <label class="sr-only" for="username">Username</label>
            <input autofocus="" class="form-control" id="username" name="email" placeholder="Username" required=""
                   type="text">
        </p>
        <p>
            <label class="sr-only" for="password">Password</label>
            <input class="form-control" id="password" name="password" placeholder="Password" required=""
                   type="password">
        </p>
        <button class="btn btn-lg btn-primary btn-block" onclick="login()">Sign in</button>
    </div>
    <h2 class="form-signin-heading">Login with OAuth 2.0</h2>
    <table class="table table-striped">
        <tbody>
        <tr>
            <td><a href="/oauth2/authorization/github">GitHub</a></td>
        </tr>
        <tr>
            <td><a href="/oauth2/authorization/google">Google</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>