<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
    <!-- base JS File -->
    <script src="/js/const.js"></script>
    <script src="/js/mainAPI.js"></script>
    <!-- JS File -->
    <script src="/js/product.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/customer">Customer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/product">Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/product-line">Product Line</a>
            </li>
            <li class="nav-item">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                   href="#"
                   id="navbarDropdown" role="button">
                    Statistic
                </a>
                <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                    <a class="dropdown-item" href="/statistic">Thống Kê Khoảng Thời Gian</a>
                    <a class="dropdown-item" href="/statistic-each-month">Thống Kê Theo Tháng Của Năm</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input aria-label="Search" class="form-control mr-sm-2" placeholder="Search" type="search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<!-- content -->
<div>
    <div id="alert_"></div>
    <div id="modal"></div>
    <!-- main content -->
    <div class="">
        <!-- stock is about to run out -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Stock is about to run out</h1>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Product Code</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Quantity In Stock</th>
                            <th scope="col">Fast Edit</th>
                        </tr>
                        </thead>
                        <tbody id="stock-is-about-to-run-out">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- product -->
        <div class="row">
            <div class="col-12">
                <h1>Product</h1>
                <button class="btn btn-primary" onclick="products.addProduct()" type="button">Add Product</button>
                <!-- filter -->
                <div class="row" id="header-row">
                    <!-- search -->
                    <div class="col-3">
                        <div class="input-group">
                            <label for="search-input"></label>
                            <input class="form-control" id="search-input" onkeyup="products.filter()"
                                   placeholder="Search"
                                   type="text">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" id="filter-button"
                                        onclick="modalGenerate.filter.toggle()"
                                        type="button">Filter
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- filter -->

                </div>
                <!-- pagination -->
                <div class="row align-items-end">
                    <div class="col-1 justify-content-between d-flex">
                        <!-- previous page -->
                        <button class="btn btn-primary" onclick="previousPage()" type="button">Previous</button>
                        <!-- next page -->
                        <button class="btn btn-primary" onclick="nextPage()" type="button">Next</button>
                    </div>
                    <!-- current page -->
                    <div class="col-1">
                        <label class="col-form-label" for="current-page">Page</label>
                        <input class="form-control" disabled id="current-page" min="1" type="number" value="1">
                    </div>
                    <!-- total page -->
                    <div class="col-1">
                        <label class="col-form-label" for="total-page">Total Page</label>
                        <input class="form-control" disabled id="total-page" min="1" type="number" value="1">
                    </div>
                    <!-- total record -->
                    <div class="col-1">
                        <label class="col-form-label" for="total-record">Total Record</label>
                        <input class="form-control" disabled id="total-record" min="1" type="number" value="1">
                    </div>
                    <!-- record per page -->
                    <div class="col-1">
                        <label class="col-form-label" for="record-per-page">Record</label>
                        <select id="record-per-page">
                            <option value="5">5</option>
                            <option selected value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>
                    </div>

                </div>
                <!-- table -->
                <table class="table table-striped mt-3 table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Product Code</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Product Line</th>
                        <th scope="col">Product Scale</th>
                        <th scope="col">Product Vendor</th>
                        <th scope="col">Product Description</th>
                        <th scope="col">Quantity In Stock</th>
                        <th scope="col">Buy Price</th>
                        <th scope="col">MSRP</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody id="product-table">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="confirm-delete" role="dialog"
     tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Delete Product
            </div>
            <div class="modal-body">
                <p>You are about to delete <b><i class="title"></i></b> record, this procedure is irreversible.</p>
                <p>Do you want to proceed?</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button>
                <a class="btn btn-danger btn-ok">Delete</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>