<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Statistic Each Month</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
    <!-- base JS File -->
    <script src="/js/const.js"></script>
    <script src="/js/mainAPI.js"></script>

    <style>
        .modal-lg {
            max-width: 1000px;
        }
    </style>
</head>
<body>
<div th:replace="fragment/nav-bar :: nav-bar"></div>
<br>
<br>
<!-- Content -->
<!-- Path: src\main\resources\templates\statistic-each-month.html -->
<!-- Order -->
<div>
    <div class="">
        <div class="card-header">
            <h1>Thống Kê Chi Tiết</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <!-- Type -->
                <div class="col-2">
                    <label for="type" class="h3">Loại Thống Kê</label>
                    <select class="form-control" id="type">
                        <option value="order">Hóa Đơn</option>
                        <option value="customer">Khách Hàng</option>
                        <option value="product">Sản Phẩm</option>
                    </select>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col">
                    <div class="row h3">Kiểu Thống Kê</div>
                    <div class="row">
                        <div class="col-2 input-group">
                            <label class="input-group-text" for="checkbox-year-month">Theo Năm / Tháng</label>
                            <input class="form-control" id="checkbox-year-month" type="checkbox">
                        </div>
                        <!-- Year -->
                        <div class="col-2 input-group">
                            <label class="input-group-text" for="year">Năm</label>
                            <select class="form-control" id="year">
                            </select>
                        </div>
                        <!-- Month -->
                        <div class="col-2 input-group">
                            <label class="input-group-text" for="month">Tháng</label>
                            <select class="form-control" id="month">
                            </select>
                        </div>
                    </div>
                    <br>
                    <!-- date range -->
                    <div class="row">
                        <div class="col-2 input-group">
                            <label class="input-group-text" for="checkbox-date-range">Theo Khoảng Thời Gian</label>
                            <input class="form-control" id="checkbox-date-range" type="checkbox">
                        </div>
                        <div class="col-2 input-group">
                            <label class="input-group-text" for="from-date">Từ</label>
                            <input class="form-control" id="from-date" type="date">
                        </div>
                        <div class="col-2 input-group">
                            <label class="input-group-text" for="to-date">Đến</label>
                            <input class="form-control" id="to-date" type="date">
                        </div>
                    </div>
                    <br>
                    <button class="btn btn-primary" id="btn-search">Tìm Kiếm</button>
                </div>

            </div>
            <br>
            <br>
            <!-- statistic info -->
            <div class="row d-flex flex-column">
                <div class="h4">Tổng Quan</div>
                <div class="col-2 input-group">
                    <label class="input-group-text" for="totalOrder">Tổng Đơn Hàng</label>
                    <input class="form-control border-0 bg-transparent text-right fw-bold h1" disabled id="totalOrder"
                           type="text" value="0">
                </div>
                <div class="col-2 input-group">
                    <label class="input-group-text" for="totalMoney">Tổng Tiền</label>
                    <input class="form-control border-0 bg-transparent text-right fw-bold h1" disabled id="totalMoney"
                           type="text" value="0">
                </div>
                <div class="col-2 input-group">
                    <label class="input-group-text" for="totalProfit">Tổng Thực Thu</label>
                    <input class="form-control border-0 bg-transparent text-right fw-bold h1" disabled id="totalProfit"
                           type="text" value="0">
                </div>
            </div>
            <br>
            <br>
            <!-- pagination -->
            <div class="row justify-content-between" id="pagination">
                <div class="col-3">
                    <!-- Previous -->
                    <button class="btn btn-primary" id="previous" onclick="previousPage()">Trang Trước</button>
                    <!-- Next -->
                    <button class="btn btn-primary" id="next" onclick="nextPage()">Trang Sau</button>
                </div>
                <!-- page info -->
                <div class="d-flex col-6">
                    <!-- current page -->
                    <div class="col">
                        <label for="current-page">Trang Hiện Tại</label>
                        <input class="form-control" disabled id="current-page" type="text">
                    </div>
                    <!-- total page -->
                    <div class="col">
                        <label for="total-page">Tổng Số Trang</label>
                        <input class="form-control" disabled id="total-page" type="text">
                    </div>
                    <!-- total record -->
                    <div class="col">
                        <label for="total-record">Tổng Số Bản Ghi</label>
                        <input class="form-control" disabled id="total-record" type="text">
                    </div>
                    <!-- page size -->
                    <div class="col">
                        <label for="page-size">Số Bản Ghi Trên Mỗi Trang</label>
                        <select class="form-control" id="page-size">
                            <option value="5">5</option>
                            <option selected value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                        </select>
                    </div>
                </div>
                <!-- export -->
                <div class="col-3">
                    <button class="btn btn-primary" id="export" onclick="exportExcel()">Xuất Excel</button>
                </div>
            </div>
            <br>
            <div class="row" id="filter"></div>
            <br>
            <!-- Table -->
            <div class="row">
                <div class="col-12">
                    <table class="table table-bordered table-hover table-striped">
                        <thead id="table-head">
                        </thead>
                        <tbody id="table-body">
                        <!-- Data -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- Chart -->
    <div class="card" hidden="hidden">
        <div class="card-header">
            <h3>Biểu Đồ Thống Kê</h3>
        </div>
        <div class="card-body">
            <canvas height="200" id="myChart" width="400"></canvas>
        </div>
    </div>
</div>
<!-- End Content -->
<!-- modal -->
<div id="baseModal"></div>
<!-- Script -->
<script>
    $(document).ready(function () {
        // load year
        let year = $('#year');
        let currentYear = new Date().getFullYear();
        let option = `<option value="${currentYear}" selected>${currentYear}</option>`;
        year.append(option);
        for (let i = currentYear - 1; i >= currentYear - 30; i--) {
            option = `<option value="${i}">${i}</option>`;
            year.append(option);
        }

        // load month
        let month = $('#month');
        let currentMonth = new Date().getMonth() + 1;
        for (let i = 1; i <= 12; i++) {
            if (i !== currentMonth) {
                option = `<option value="${i}">${i}</option>`;
                month.append(option);
            } else {
                option = `<option value="${i}" selected>${i}</option>`;
                month.append(option);
            }
        }
    });
</script>
<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- statistic-each-month.js -->
<script src="/js/statistic-each-month.js"></script>
<!-- End Script -->
</body>
</html>