<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Statistic</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <!-- base JS File -->
    <script src="/js/const.js"></script>
    <script src="/js/mainAPI.js"></script>


</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/customer">Customer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/product">Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/product-line">Product Line</a>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Statistic
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/statistic">Thống Kê Khoảng Thời Gian</a>
                    <a class="dropdown-item" href="/statistic-each-month">Thống Kê Theo Tháng Của Năm</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div id="timestamp">
    <label for="from">Từ</label><input type="date" id="from" min="1999-01-01"/>
    <label for="to">Đến</label><input type="date" id="to" min="1999-01-01"/>
    <button id="btn-timestamp" onclick="getStatistical()">Xem</button>
</div>

<div><h1>Thống kê</h1></div>
<div id="statistic">
    <!-- statistic order -->
    <div id="statistic-order" class="mt-3">
        <h2>Đơn hàng</h2>
        <div id="statistic-order-table">
            <!-- status table -->
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Tổng tiền</th>
                </tr>
                </thead>
                <tbody id="status-order-table-body">
                <!-- In Process -->
                <tr>
                    <th scope="row">In Process</th>
                    <td id="status-order-table-body-in-process-quantity"></td>
                    <td id="status-order-table-body-in-process-amount"></td>
                </tr>
                <!-- Shipped -->
                <tr>
                    <th scope="row">Shipped</th>
                    <td id="status-order-table-body-shipped-quantity"></td>
                    <td id="status-order-table-body-shipped-amount"></td>
                </tr>
                <!-- Cancelled -->
                <tr>
                    <th scope="row">Cancelled</th>
                    <td id="status-order-table-body-cancelled-quantity"></td>
                    <td id="status-order-table-body-cancelled-amount"></td>
                </tr>
                <!-- Resolved -->
                <tr>
                    <th scope="row">Resolved</th>
                    <td id="status-order-table-body-resolved-quantity"></td>
                    <td id="status-order-table-body-resolved-amount"></td>
                </tr>
                <!-- Disputed -->
                <tr>
                    <th scope="row">Disputed</th>
                    <td id="status-order-table-body-disputed-quantity"></td>
                    <td id="status-order-table-body-disputed-amount"></td>
                </tr>
                <!-- On Hold -->
                <tr>
                    <th scope="row">On Hold</th>
                    <td id="status-order-table-body-on-hold-quantity"></td>
                    <td id="status-order-table-body-on-hold-amount"></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th scope="row">Tổng</th>
                    <td id="status-order-table-foot-total-quantity"></td>
                    <td id="status-order-table-foot-total-amount"></td>
                </tfoot>
            </table>
            <table class="table table-striped">
                <thead>
                <!-- pagination -->
                <tr>
                    <td>
                        <button class="btn btn-primary" id="statistic-order-table-previous"
                                onclick="previousPage('order')">
                            Previous
                        </button>
                        <button class="btn btn-primary" id="statistic-order-table-next"
                                onclick="nextPage('order')">
                            Next
                        </button>
                    </td>
                    <td class="d-flex">
                        <!-- current page -->
                        <button id="statistic-order-table-current-page" class="border-bottom" value="1" disabled>1
                        </button>
                        <div> /</div>
                        <!-- total page -->
                        <button id="statistic-order-table-total-page" class="border-bottom" value="1" disabled>1
                        </button>
                    </td>
                    <td>
                        <!-- select page size -->
                        <label for="statistic-order-table-page-size">
                            Số dòng trên trang
                        </label>
                        <select id="statistic-order-table-page-size">
                            <option value="5">5</option>
                            <option value="10" selected>10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>
                    </td>
                </tr>
                <!-- table header -->
                <tr>
                    <th>Mã đơn hàng</th>
                    <th>Ngày đặt hàng</th>
                    <th>Ngày giao hàng</th>
                    <th>Trạng thái</th>
                    <th>Khách hàng</th>
                    <th>Comment</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody id="statistic-order-table-body">
                </tbody>
            </table>
        </div>
    </div>
    <!-- statistic customer -->
    <div id="statistic-customer" class="mt-3">
        <h2>Khách hàng</h2>
        <div id="statistic-customer-table">
            <table class="table table-striped">
                <thead>
                <!-- pagination -->
                <tr>
                    <td>
                        <button class="btn btn-primary" id="statistic-customer-table-previous"
                                onclick="previousPage('customer')">
                            Previous
                        </button>
                        <button class="btn btn-primary" id="statistic-customer-table-next"
                                onclick="nextPage('customer')">
                            Next
                        </button>
                    </td>
                    <td class="d-flex">
                        <!-- current page -->
                        <button id="statistic-customer-table-current-page" class="border-bottom" value="1" disabled>1
                        </button>
                        <div> /</div>
                        <!-- total page -->
                        <button id="statistic-customer-table-total-page" class="border-bottom" value="1" disabled>1
                        </button>
                    </td>
                    <td>
                        <!-- select page size -->
                        <label for="statistic-customer-table-page-size">
                            Số dòng trên trang
                        </label>
                        <select id="statistic-customer-table-page-size">
                            <option value="5">5</option>
                            <option value="10" selected>10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th scope="col">Mã khách hàng</th>
                    <th scope="col">Tên khách hàng</th>
                    <th scope="col">Số lượng đơn hàng</th>
                    <th scope="col">Tổng tiền</th>
                </tr>
                </thead>
                <tbody id="statistic-customer-table-body">
                </tbody>
                <tfoot>
                <tr>
                    <th scope="row">Tổng</th>
                    <td></td>
                    <td id="statistic-customer-table-body-total-order"></td>
                    <td id="statistic-customer-table-body-total-money"></td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <!-- statistic product -->
    <div id="statistic-product" class="mt-3">
        <h2>Sản phẩm</h2>
        <div id="statistic-product-table">
            <table class="table table-striped">
                <thead>
                <!-- pagination -->
                <tr>
                    <td>
                        <button class="btn btn-primary" id="statistic-product-table-previous"
                                onclick="previousPage('product')">
                            Previous
                        </button>
                        <button class="btn btn-primary" id="statistic-product-table-next" onclick="nextPage('product')">
                            Next
                        </button>
                    </td>
                    <td class="d-flex">
                        <!-- current page -->
                        <button id="statistic-product-table-current-page" class="border-bottom" value="1" disabled>1
                        </button>
                        <div> /</div>
                        <!-- total page -->
                        <button id="statistic-product-table-total-page" class="border-bottom" value="1" disabled>1
                        </button>
                    </td>
                    <td>
                        <!-- select page size -->
                        <label for="statistic-product-table-page-size">
                            Số dòng trên trang
                        </label>
                        <select id="statistic-product-table-page-size">
                            <option value="5">5</option>
                            <option value="10" selected>10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th scope="col">Mã sản phẩm</th>
                    <th scope="col">Tên sản phẩm</th>
                    <th scope="col">Số lượng bán</th>
                    <th scope="col">Tổng tiền</th>
                </tr>
                </thead>
                <tbody id="statistic-product-table-body">
                </tbody>
                <tfoot>
                <tr>
                    <th scope="row">Tổng</th>
                    <td></td>
                    <td id="statistic-product-table-body-total-quantity"></td>
                    <td id="statistic-product-table-body-total-amount"></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!-- change status modal -->
<div class="modal fade" id="change-status-order-modal" tabindex="1" aria-labelledby="change-status-order-modal"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Change Status</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- change status form -->
                <input type="hidden" name="change-status-order-number" id="change-status-order-number" readonly>
                <!-- status select -->
                <div class="mb-3">
                    <label for="change-status-order-status" class="form-label">Status</label>
                    <select class="form-select" id="change-status-order-status">
                        <option value="In Process">In Process</option>
                        <option value="Shipped">Shipped</option>
                        <option value="Cancelled">Cancelled</option>
                        <option value="On Hold">On Hold</option>
                        <option value="Resolved">Resolved</option>
                        <option value="Disputed">Disputed</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveChangeStatusOrder()">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- order detail modal -->
<div class="modal fade" id="change-status-order-modal" tabindex="1" aria-labelledby="change-status-order-modal"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Change Status</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- change status form -->
                <input type="hidden" name="change-status-order-number" id="change-status-order-number" readonly>
                <!-- status select -->
                <div class="mb-3">
                    <label for="change-status-order-status" class="form-label">Status</label>
                    <select class="form-select" id="change-status-order-status">
                        <option value="In Process">In Process</option>
                        <option value="Shipped">Shipped</option>
                        <option value="Cancelled">Cancelled</option>
                        <option value="On Hold">On Hold</option>
                        <option value="Resolved">Resolved</option>
                        <option value="Disputed">Disputed</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveChangeStatusOrder()">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="order-detail-modal" tabindex="1" aria-labelledby="change-status-order-modal"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Order Detail</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="order-detail-order-number">Order Number</label>
                <input type="text" name="" id="order-detail-order-number" readonly>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Product Code</th>
                        <th scope="col">Quantity Ordered</th>
                        <th scope="col">Price Each</th>
                    </tr>
                    </thead>
                    <tbody id="order-detail-table-body">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Statistic JS File -->
<script type="text/javascript" src="/js/statistic.js"></script>
</body>
</html>